.background {
  background-color: saddlebrown;
}

.container {
  background-color: saddlebrown;
  height: 100%;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 70px !important;
}

.App {
  text-align: center;
  background-color: rgb(88, 45, 14);
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgb(83, 43, 12);
  height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
  padding: 15px;
}

.App-link {
  color: #61dafb;
}

.artBlock {
  margin: 1em;
}

.navbar {
  width: 100%;
  height: 10em;
  color: white;
  background-color: purple;
}

.brand {
  font-size: 2em;
}

footer {
  background-color: rgb(82, 3, 82);
  height: 1em;
  bottom: 0;
  position: fixed;
}