/* Class names listed in alphabetical order */

.App {
  text-align: center;
  background-color: rgb(88, 45, 14);
  height: fit-content;
}

.App-header {
  background-color: rgb(83, 43, 12);
  height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
  padding: 15px;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.artBlock {
  margin: 1em;
}

.background {
  background-color: saddlebrown;
}

body {
  background-color: rgb(88, 45, 14) !important;
}

.brand {
  font-size: 2em;
}

.button {
  background-color: rgba(255, 255, 255, .3);
}

#clickMe {
  animation: spin 20s linear infinite;
}

@keyframes spin {
  from {transform: rotate(20deg)}
  to {transform: rotate(120deg)}
}

#closeDivBtn {
  margin: 10px;
}

.container {
  background-color: saddlebrown;
  height: 100%;
  margin-top: 30px;
}

.directionsCard {
  color: white;
  font-size: 1em;
  background-color: rgba(255, 255, 255, .2)!important;
}

footer {
  background-color: rgb(82, 3, 82);
  height: 1em;
  bottom: 0;
  position: fixed;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 30px !important;
}

.hidden {
  display: none;
  visibility: hidden;
}

.navbar {
  width: 100%;
  height: 13em;
  color: white;
  background-color: purple;
}

.score {
  color: rgb(241, 206, 116);
  font-size: 32px;
}

#scoreboard {
  display: block;
  float: none;
}

.surpriseDiv {
  background-color: rgb(81, 81, 218) !important;
  color: white;
}

.surpriseImg {
  height: 300px !important;
  width: auto;
}