Accordion.Toggle {
  background-color: saddlebrown;
}

.background {
  background-color: saddlebrown;
}

.button {
  
}

.card {
    background-color: saddlebrown;
}

.container {
  background-color: saddlebrown;
  height: 100%;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 70px !important;
}

.App {
  text-align: center;
  background-color: rgb(88, 45, 14);
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgb(83, 43, 12);
  height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
  padding: 15px;
}

.App-link {
  color: #61dafb;
}

.artBlock {
  margin: 1em;
}

.brand {
  font-size: 2em;
}

.button {
  background-color: rgba(255, 255, 255, .3);
}

.directionsCard {
  color: black;
  font-size: .85em;
}

footer {
  background-color: rgb(82, 3, 82);
  height: 1em;
  bottom: 0;
  position: fixed;
}

.hidden {
  display: none;
  visibility: hidden;
}

.navbar {
  width: 100%;
  height: 10em;
  color: white;
  background-color: purple;
}

.score {
  color: rgb(241, 206, 116);
  font-size: 32px;
}

.surpriseDiv {
  background-color: rgba(255, 255, 255, .5);
}

.surpriseImg {
  height: 100px;
  width: auto;
}